@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~normalize.css';

@import 'header';
@import 'toolbar';
@import 'formula';
@import 'table';
@import 'dashboard';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size:  $font-size-default;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $t-color-main;
}

input[type='text'] {
  padding: 2px 7px;
  height: 20px;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.excel {
  color: $t-color-second;
  position: relative;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}