@import 'variables';
@import 'mixins';

.excel__table {
  left: 0;
  right: 0;
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: $row-height;
    height: $row-height;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color-main;
    border-left-color: transparent;
    background: $row-info-color;
    border-top-color: transparent;
  }

  .row-data {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $row-info-color;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color-main;
    height: 100%;
    border-top-color: transparent;
    border-left-color: transparent;
  }

  .cell {
    min-width: 40px;
    width: $cell-width;
    padding: 5px;
    height: 100%;
    color: #111;
    border: 1px solid $border-cell;
    border-top-color: transparent;
    border-left-color: transparent;
    white-space: nowrap; 

    &.selected {
      border: none;
      outline: 2px solid #3c74ff;
      z-index: 2;
    }
  }

  .col-resize,
  .row-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $bg-color-decor2;
    opacity: 0;
    z-index: $z-index-modal;

    &:hover {
      opacity: 1 !important;
    }
  }

  .col-resize {
    top: 0;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }
}